html,body{
    background-color: white;
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 188px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* 定位 */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#screen{
    width: 100%;
    height: 100%;
    position: absolute;
}
#googleMap{
    width: 100%;
    height: 100%;
    z-index: 1;
}
#form{
    z-index: 2;
    top: 0%;
    position: absolute;
    width: 100%;
}
#date{
    z-index: 2;
    width: 21%;
    /* margin: 0px; */
    position: absolute;
    left: 54%;
    top: -7%;
    font-size: 20px;
    font-family: sans-serif;
}
#datepicker{
    height: 30px;
    width: 146px;
    font-size: 12;
}
#time{
    z-index: 2;
    width: 22%;
    top: -7%;
    right: 9%;
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
}
#hour{
    height: 30px;
    width: 50px;
    font-size: 12;
}
#minute{
    height: 30px;
    background-color: white;
    color: black;
    width: 50px;
    font-size: 12;
}
#submit{
    z-index: 3;
    top: 15%;
    right: 4%;
    position: absolute;
    color: white;
    height: 33px;
    width: 7%;
    background-color: orange;
    font-size: 17px;
    font-family: sans-serif;
}
#submit:hover{
    cursor: pointer;
    background-color: #FF7F00;
}
#vendor{
    z-index: 3;
    height: 52px;
    width: 215px;
    font-size: 20px;
    top: -7%;
    left: 39%;
    position: absolute;
    font-family: sans-serif;
}
#vendortext{
    
}
#longitude1{
    z-index: 0;
    visibility: hidden;
}
#latitude1{
    z-index: 0;
    visibility: hidden;
}
#longitude2{
    z-index: 0;
    visibility: hidden;
}
#latitude2{
    z-index: 0;
    visibility: hidden;
}
#result{
    z-index: 3;
    top: 27%;
    position: absolute;
    /* text-align: center; */
    left: 24%;
    background-color: orange;
    height: 22%;
    width: 40%;
    text-align: center;
    padding: 64px;
    opacity: 0.8;
    font-size: 20px;
}
#close{
    z-index: 4;
    top: 26%;
    position: absolute;
    height: 15%;
    right: 27%;
}
#close:hover{
    cursor: pointer;
}
#list{
    height: 30px;
}
#upbar {
    z-index: 2;
    top: 0%;
    height: 60;
    position: absolute;
    width: 88%;
    background: rgba(0,0,0,0.2);
    left: 9%;
    right: 5%;
}
#logo{
    z-index: 3;
    top: -1.75%;
    position: absolute;
    height: 12%;
    left: 10%;
}